<script setup lang="ts">
const currentCamera = ref<string>();
const { videoInputs: cameras } = useDevicesList({
  requestPermissions: true,
  onUpdated() {
    if (
      !cameras.value.find((camera) => camera.deviceId === currentCamera.value)
    ) {
      currentCamera.value = cameras.value[0]?.deviceId;
    }
  },
});

const video = ref<HTMLVideoElement>();
const { stream, enabled } = useUserMedia({
  // @ts-ignore
  constraints: { video: { deviceId: currentCamera } },
});

watchEffect(() => {
  if (video.value && stream.value) {
    video.value.srcObject = stream.value;
  }
});

let initialLeft = window.screenLeft;
let initialTop = window.screenTop;

const updateVideoPosition = () => {
  const videoElement = video.value;
  if (videoElement) {
    videoElement.style.width = `${window.screen.width}px`;
    videoElement.style.height = `${window.screen.height}px`;

    videoElement.style.left = `-${initialLeft}px`;
    videoElement.style.top = `-${initialTop}px`;
  }
};

const adjustVideoOnMove = () => {
  const videoElement = video.value;
  if (videoElement) {
    let newLeft = window.screenLeft;
    let newTop = window.screenTop;

    let leftUpdate = initialLeft - newLeft;
    let topUpdate = initialTop - newTop;

    videoElement.style.transform = `translate(${leftUpdate}px, ${topUpdate}px)`;
  }
};

const monitorWindowMovement = () => {
  adjustVideoOnMove();
  requestAnimationFrame(monitorWindowMovement);
};

onMounted(() => {
  window.addEventListener("resize", updateVideoPosition);
  updateVideoPosition();
  monitorWindowMovement();
});

onUnmounted(() => {
  window.removeEventListener("resize", updateVideoPosition);
});
</script>

<template>
  <div>
    <button v-if="!enabled" @click="enabled = true">Start</button>
    <video v-else ref="video" muted autoplay />
  </div>
</template>

<style global>
body {
  margin: 0;
  overflow: hidden;
}

div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}
</style>
